/* ### UTILITIES ### */

:root {
    --primary-: #b5ddff;
    --secondary-: #0084fd;
    --thirdary-: #9792e4;
    --its-free-: #fdc15f;
    --foot-: #333333;
}

/* MEDIA QUERY WIDTH SECTION */
.col-12 {
    width: 100%;
}

.col-6 {
    width: calc((100/12) * 6);
}

-col-4 {
    width: calc((100/12) * 4);
}


/* ### MAIN STYLE SHEET ### */

* {
    margin: 0;
    font-family: 'Pt Sans', sans-serif;
    box-sizing: border-box;
}



header {
    max-width: 768px;
    background-color: var(--secondary-);
    padding: 1rem 2.5rem 2rem;
    margin-bottom: 3rem;

    & div {
        display: flex;
        justify-content: space-between;

        & nav {
            display: flex;
            align-content: center;
        }

        & img{
            width: 8rem;
        }

        & i {
            color: #fff;
            padding: 0.5rem 1rem;
            font-size: 3rem;
        }

    }

}

section.demo {
    & .row {
        width: 100%;
        max-width: 768px;

        & [class^='col-']{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    .card-demo {
        background-color: var(--primary-);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 2rem auto 2rem auto;
        border-radius: 50px;

        & h1{
            font-size: 2.5rem;
            color: var(--secondary-);
            padding: 2.5rem;
        }
        
        & .textbox{
            width: 80%;
            font-size: 1.5rem;
            color: grey;
            font-weight: 700;
            line-height: 2;
        }

        & .btn {
            background-color: var(--secondary-);
            padding: 1rem 8rem;
            border-radius: 50px;
            color: #fff;
            max-width: fit-content;
            font-size: 1.75rem;
            font-weight: 600;
            letter-spacing: 4px;
            margin: 3rem auto;
        }

        & img {
            width: 80%;
            margin-bottom: -5px;
        }

    }
    
    & .card-demo.sm{
        text-align: center;
        color: var(--secondary-);
    }
}

section.planning{
    background-color: var(--thirdary-);
}

section.testimonials{
    margin-bottom: 5rem;
    
    & .row{
        margin-bottom: 3rem;
    }

    & .card-testimonial{
        background-color: var(--thirdary-);
    }
}

section.work-with-us{
    background-color: var(--thirdary-);

    & [class^= "col-"]{
        margin-bottom: 2rem;
        
        & .card-wwu{
            background-color: #fff;

            & h1,h4{
                color: var(--thirdary-);
            }
        }
    }

}

.card-about-us{
    & h1, article,{
        color: var(--thirdary-);
    }

    & button{
        border-color: var(--thirdary-);
    }
}

/* ### END MAIN STYLE SHEET ### */









/* DEBUG SECTION */

.debug *{
    border: 1px dashed black;
}

.debug .card-demo.sm{
    flex-basis: 700px;
}

.debug .card-testimonial{
    height: 800px;
}
.card-testimonial-head{
    height: 500px;
}

.card-wwu{
    height: 700px;
}

.card-about-us.top{
    height:2500px;
}